<connectionStrings>
  <!--<add key="owin:AppStartup" value="PersonalSiteMVC.Startup,PersonalSiteMVC" />
  --><!--</appSettings>-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=PersonalSiteMVC-2-1-alpha1;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>
