    <!-- *****************************************************************************************************************
       HEADERWRAP
       ***************************************************************************************************************** -->
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>WEBSITE UNDER CONSTRUCTION</h1>
                    <h1>Danielle Smalley</h1>
                    <h1>Full Stack Web Developer</h1>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="aboutmeheader">
                        About Me
                    </h1>
                    <h3 class="aboutmetext">
                        Hi! My name is Danielle Smalley and I am a full stack web developer.
                        <br />
                        <br />
                        I am skilled in front-end, middle-tier, and back end development. This includes JavaScript, C#/.Net, jQuery, SQL, JSON, ReactJS, and more.
                        <br />
                        <br />
                        Over the past 9 years, I’ve become a successful advocate, project manager, and problem anticipator/resolver for clients in the roles I’ve held.
                        <br />
                        <br />
                        I have a knack for empathizing and listening to clients’ needs, communicating transparently and directly, and tirelessly working towards solutions.
                        <br />
                        <br />
                        My interest in technology started when I was a little girl, enjoying computers, puzzles, and video games. Now, I see a need for more women in tech and am driven to contribute to this mission. This led me to enroll in Centriq’s full stack web development program. I dove right in and haven’t looked back!
                        <br />
                        <br />
                        I’m looking forward to bringing my unique background, my love of helping others, my passion for learning and facing new challenges, and my eagerness to continuously grow to my tech career.
                        <br />
                        <br />
                        Welcome to my website! Please take a look around
                        <i class="fa fa-sun-o"></i>
                    </h3>
                </div>
            </div>
        </div>
    </div>

